<%= form_for(@post) do |f| %>
	<%= render 'shared/error_messages', object: f.object %> 
	<div class="post_field field">
		<div class="form-group">
		<%= f.text_field :title, placeholder:"Title" %>
		<%= f.text_field :tag_list, placeholder: "Tags"%>
		<%= f.hidden_field :content %>
		<p></p>
		<section id = "content", contenteditable = "true">
			<p>Content</p>
		</section> 
		</div>
	</div>
	
	<%= f.submit "Post", class: "btn btn-primary", :onmouseover => "getContent()" %>
	
<% end %>

<script type="text/javascript">
	function getContent()
	{
		document.getElementById("post_content").value = document.getElementById("content").innerHTML;
	}
</script>

